$family-primary: 'Libre Baskerville', serif;
$family-secondary: 'Raleway', sans-serif;
$family-code: 'Libre Baskerville', serif;

$title-weight: 500;
$title-strong-weight: 1000;

$size-4: 0.9rem;
$size-6: 0.75rem;

$link: #6CB6A4;
$navbar-dropdown-item-hover-color: #6CB6A4;
$navbar-item-hover-background-color: #E2F2EE;
$navbar-dropdown-item-hover-background-color: #E2F2EE;
$navbar-item-img-max-height: 4.5rem;
$column-gap: 1rem;



$tablet: 768px;

@import "bulma/bulma.sass";
@import "bulma-spacing/bulma-spacing.scss";
@import "bulma-modal-fx/dist/css/modal-fx";

