---
title: Drawings on the wall
---

<div class="mb-6">
  <h1 class="title is-spaced has-text-centered">Patronen</h1>
  <h6 class="subtitle is-6 has-text-centered has-margin-top-minus-15"><em>Tekeningen in een patroontje</em></h6>
</div>
<%= render "gallery",
  images: [
    "patterns/Birbpoop",
    "patterns/kitties",
    "patterns/vierkanthuisjes"
  ] %>