---
title: Portfolio
---
<%= render "gallery",
  images: [
    "home/whale",
    "home/birb",
    "home/fox",
    "home/ride",
    "home/fallingstar",
    "home/springkitty",
    "home/firsthome",
    "home/hi",
    "home/friends"
] %>
