---
title: Portfolio
---
<%= render "gallery",
  images: [
    "home/star",
    "home/Cosmonaut",
    "home/jungle",
    "home/black-swan",
    "home/hi",
    "home/circus-bear",
    "home/bugs",
    "home/friends",
    "home/firsthome"
] %>
