---
title: Portfolio
---
<%= render "gallery",
  images: [
    "home/body",
    "home/nature",
    "home/bluebird",
    "home/jungle",
    "home/doggo",
    "home/phone",
    "home/flamingo",
    "home/ballet",
    "home/zee"
] %>
